@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

$breakpoint-tiny: 380px;
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

@mixin respond-to($breakpoint) {
    @if $breakpoint == tiny {
        @media (max-width: $breakpoint-tiny) { @content; }
    } @else if $breakpoint == small {
        @media (max-width: $breakpoint-small) { @content; }
    } @else if $breakpoint == medium {
        @media (max-width: $breakpoint-medium) { @content; }
    } @else if $breakpoint == large {
        @media (max-width: $breakpoint-large) { @content; }
    }
}


body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;

}

.card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: hsl(0, 0%, 100%);
    width: 320px;
    height: 497px;
    padding: 16px ;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto auto;
    top: 100px;
    border: px solid;
    border-radius: 20px;
    box-shadow: 10px 15px;
    img {
        width: 160px;
        height: 160px;
        padding: 64px;
        border-radius: 10px;
        background-color: hsl(216, 100%, 61%);
    }  

    @include respond-to(tiny) {
        margin: auto auto;
      }

    @include respond-to(small) {
        margin: auto auto;
      }
    
      @include respond-to(medium) {
        margin: auto auto;
      }

      @include respond-to(large) {
        margin: -7% auto;
      }
} 

.text p {
    color: 	hsl(220, 15%, 55%);
    font-size: 15px;
}
