@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

$Yellow: hsl(47, 88%, 63%);
$White: hsl(0, 0%, 100%);
$Grey: hsl(0, 0%, 50%);
$Black: hsl(0, 0%, 7%);

body {
    background-color: $Yellow;
    font-family: 'Figtree', sans-serif;
    justify-content: center;
}

